#app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  border: 5px solid red;
  padding: 4rem;

  & .caixa-branca{
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1.5rem;
  }
  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;

  }
}

aside {
  border: 5px solid black;
  background-color: bisque;
  padding: 4rem;

  & .caixa-bege{
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }

  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
  & span {
    color: var(--text-highlight);
  }
}