@import url(droparea.css);
input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-defauld);

  padding: .75rem 1rem;
  font: var(--tex);
}
label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  outline: .25rem solid var(--suface-secundary);
  border: .125rem solid var(--stroke-hightlight);
  outline-offset: .1px; /*para aparecer em outros navegadores*/
}

input[type="date"]{
  position: relative;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  &::before{
    content: "";
    position: absolute;
    background:url(../icos/calendar-03.svg)
    center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    top: 50%;
    transform: translatey(-50%);
  }

}

select{
  background:url(../icos/setaParaBaixo.svg)no-repeat calc(100% - 1rem);
}

.address .flex {
 gap: 1rem;
}

.input-wrapper:has([disabled]) {
  opacity: .5;
  
}

input{
  &[disabled] {
    background-color: var(--suface-disabled);
    border: 1px solid var(--stroke-defauld);

    color: var(--text-primary);
  }
}