input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-defauld);

  padding: .75rem 1rem;
  font: var(--tex);
}
label {
  font: var(--text-sm);
  color: var(--tex-secondary);

  display: block;
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: .25rem solid var(--suface-secundary);
  border: .125rem solid var(--stroke-hightlight);
  outline-offset: .1px; /*para aparecer em outros navegadores*/
}