label + .radio-wrapper {
  margin-top: 1rem;
}

 .radio-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));

}

.radio-inner {
  border:1px solid var(--stroke-defauld);
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
  gap: 1.5rem;

  padding: 1rem .5rem .5rem;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
  }
}